<html>
	<link rel="stylesheet" href="../static/estilo.css">
	<form method="post" action="/run_process">
		<div id=tabla><table>
		<tr>
		<td>
		PID
		<input type="text" name="pid">
		</td>
		</tr>
		<tr>
		<td>
		RAM
		<input type="text" name="ram">
		</td>
		</tr>
		<tr>
		<td>
		CPU
		<input type="text" name="cpu">
		</td>
		</tr>
		<tr>
		<td>
		HDD
		<input type="text" name="hdd">
		</td>
		</tr>
		</tr>
		</table>
		</div>
		<tr><td><input type="submit" value="Enviar"</td></tr>
	</form>
</html>