
body {background-color: darkgray;font-family: Arial}

#contenedor {background-color:darkgray ; width: 835px ; margin: auto; border: 4px white solid;}

#cabecera {background-color: lightgray; height: 50px; margin-top: -21px; color: white; animation-duration: 5s; animation-name: slidein;}

#cabecera2 {background-color: gray; height: 35px; margin-top: -21px; font-size: 15px}

#centro {float: left;background-color: lightcyan; width: 400px;font-size: 13px;border: 6px lightgray dashed; padding: 3px; font: 14px Arial; margin: 10px 0px 10px 0px}

#centro h1 {color: lightcoral}

#centro h2 {color: lightpink}

#centro h3 {color: aquamarine}

table {
    border-collapse: collapse; margin: 10px 10px 10px 10px;
}

table, th, td {
    border: 1px solid black; padding: 5px;
}

#estados {margin-top: 10px;}


